<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/login.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/home.css}" />
</head>
<body>
<header class="header">
    <p><i class="fas fa-heartbeat"></i> medcare.</p>
    <nav class="navbar">
        <a href="/home" >Home</a>
        <a href="/services">services</a>
        <a href="/about">about</a>
        <a href="/doctor">doctors</a>
        <a href="/bookAppointment">book</a>
    </nav>
    <div id="menu-btn" class="fas fa-bars"></div>
</header>

<section class="login">
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form th:action="@{/process-login}" method="post">
            <h1>Create Account</h1>
            <span>or use your email for registration</span>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form th:action="@{/process-login}" method="post">
            <h1>Sign in</h1>
            <input type="text" placeholder="Email" name="username" />
            <input type="password" placeholder="Password" name="password" />
            <a href="#">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button type="button" class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button type="button" class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</section>

<script type="text/javascript"  src="/js/login.js" th:src="@{/js/login.js}"></script>
</body>
</html>