<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/profile.css}" />
</head>
<body>
<header class="header">

    <p><i class="fas fa-heartbeat"></i> medcare.</p>
    <nav class="navbar">
        <a href="/" >Home</a>
        <a href="/services">services</a>
        <a href="/about">about</a>
        <a href="/doctor">doctors</a>
        <a href="/bookAppointment">book</a>
        <a href="/profile"><i class="fa-solid fa-circle-user fs-1 ml-4"></i></a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>

<div class="container rounded bg-white mt-5 h-100">
    <div class="row justify-content-evenly " style="margin-top: 14em;">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold fs-1">Medcare</span>
                <span class="text-black-50 fs-2">example@gmail.com</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right fs-2">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 fs-3"><label class="labels">Full Name</label>
                        <input type="text" class="form-control fs-3" placeholder="first name" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 fs-3"><label class="labels">Mobile Number</label>
                        <input type="text" class="form-control fs-3" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12 fs-3"><label class="labels">Email ID</label>
                        <input type="text" class="form-control fs-3" placeholder="enter email id" value=""></div>
                    <div class="col-md-12 fs-3"><label class="labels">Address Line 1</label>
                        <input type="text" class="form-control fs-3" placeholder="enter address line 1" value=""></div>
                    <div class="col-md-12 fs-3"><label class="labels">Address Line 2</label>
                        <input type="text" class="form-control fs-3" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12 fs-3"><label class="labels">State</label>
                        <input type="text" class="form-control fs-3" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-6 fs-3"><label class="labels">Country</label>
                        <input type="text" class="form-control fs-3" placeholder="country" value=""></div>
                </div>
                <div class="mt-5 text-center w-25 h-25">
                    <button class="btn btn-primary profile-button fs-3" type="button">Save Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript"  src="/js/login.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>